@tailwind base;
@tailwind components;
@tailwind utilities;
/* Moving bubbles floating animation */
/* Moving bubbles floating animation */
@keyframes bubble {
  0% { transform: translateY(100vh); opacity: 0; }
  50% { opacity: 0.4; }
  100% { transform: translateY(-10vh); opacity: 0; }
}

.animate-bubble {
  animation: bubble linear infinite;
  position: absolute;
}

@keyframes moveUpDown {
  0%, 100% { transform: translateY(0); }
  50% { transform: translateY(380px); }
}

.animate-moveUpDown {
  animation: moveUpDown 4s ease-in-out infinite;
}
